.page-wrapper.users
  #users.content-wrapper
    .header-nav
      h1.headers
        | Users
      .button-group
          button.users-button((click)='addNewUser()')
            | New User          
    .justify-start.newTabs.mb-4
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('student')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'student'}")
        | Students
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('key_contact')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'key_contact'}")
        | Key Contacts
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('counselor')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'counselor'}")
        | Counselors
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('business_owner')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'business_owner'}")
        | Business Owners
    app-students(*ngIf="selectedTab === 'student'")
    app-keycontacts(*ngIf="selectedTab === 'key_contact'")
    app-counselors(*ngIf="selectedTab === 'counselor'")
    app-businessowners(*ngIf="selectedTab === 'business_owner'")