#nav( *ngIf="navBarService.visible")
  ul.nav-list.justify-end
    li.nav-item((click)="switchTab('Users')" [ngClass]="{'nav-item-selected': tab === 'Users'}")
      a([routerLink]="['/users']" ) Users

    li.nav-item((click)="switchTab('Resources')" [ngClass]="{'nav-item-selected': tab === 'Resources'}")
      a([routerLink]="['/resources']" ) Resources

    li.nav-item((click)="switchTab('Notifications')" [ngClass]="{'nav-item-selected': tab === 'Notifications'}")
      a([routerLink]="['/notifications']" ) Notifications

    li.nav-item((click)="switchTab('Organizations')" [ngClass]="{'nav-item-selected': tab === 'Organizations'}")
      a([routerLink]="['/organizations']" ) Organizations

    li.nav-item((click)="switchTab('Prizes')" [ngClass]="{'nav-item-selected': tab === 'Prizes'}")
      a([routerLink]="['/prizes']" ) Prizes
