#nav( *ngIf="navBarService.visible")
  .logo-img
  ul.nav-list.justify-end
    li.nav-item((click)="switchTab('users')" [ngClass]="{'nav-item-selected': tab === 'users'}")
      a([routerLink]="['/users']" ) Users

    li.nav-item((click)="switchTab('organizations')" [ngClass]="{'nav-item-selected': tab === 'organizations'}")
      a([routerLink]="['/organizations']" ) Organizations

    li.nav-item((click)="switchTab('resources')" [ngClass]="{'nav-item-selected': tab === 'resources'}")
      a([routerLink]="['/resources']" ) Resources

    li.nav-item((click)="switchTab('prizes')" [ngClass]="{'nav-item-selected': tab === 'prizes'}")
      a([routerLink]="['/prizes']" ) Prizes

    li.nav-item((click)="switchTab('notifications')" [ngClass]="{'nav-item-selected': tab === 'notifications'}")
      a([routerLink]="['/notifications']" ) Notifications

    li.nav-item.fa.fa-cog((click)="active=!active" )
      .triangle(*ngIf="active")
      .dropdown(*ngIf="active") 
        a((click)="logout()") Logout

